#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define ___ &none

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
// ------------------------------------------------------------------------------
// | TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U  |  I  |  O  |  P  | BKS |
// | ESC |  A  |  S  |  D  |  F  |  G  |   |  H  |  J  |  K  |  L  |  ;  | RET |
// | nop |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M  |  ,  |  .  |  /  | nop |
//                   | SYS | SYM | SPC |   | SPC | NUM | KOR |
            display-name = "Base";
            bindings = <
    &kp TAB   &kp Q     &kp W     &kp E     &kp R     &kp T     &kp Y     &kp U     &kp I     &kp O     &kp P     &kp BSPC
    &kp ESC   &kp A     &kp S     &kp D     &kp F     &kp G     &kp H     &kp J     &kp K     &kp L     &kp SEMI  &kp RET
    ___       &kp Z     &kp X     &kp C     &kp V     &kp B     &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH  ___
                                  &mo 3     &mo 1     &kp SPACE &kp SPACE &mo 2     &kp LANG1
            >;
        };

        symbol_layer {
// ------------------------------------------------------------------------------
// | nop |  `  |  +  |  {  |  }  |  ~  |   |  %  |  !  |  @  |  #  |  *  |  \  |
// | nop |  '  |  =  |  (  |  )  |  "  |   |  ^  |  _  |  -  |  $  |  &  |  |  |
// | nop | nop | nop |  [  |  ]  | nop |   | nop | nop | nop | nop | nop | nop |
//                   | nop |     | SPC |   | SPC | nop | nop |
            display-name = "Symbols";
            bindings = <
    ___       &kp GRAVE &kp PLUS  &kp LBRC  &kp RBRC  &kp TILDE &kp PRCNT &kp EXCL  &kp AT    &kp HASH  &kp STAR  &kp BSLH
    ___       &kp SQT   &kp EQUAL &kp LPAR  &kp RPAR  &kp DQT   &kp CARET &kp UNDER &kp MINUS &kp DLLR  &kp AMPS  &kp PIPE
    ___       ___       ___       &kp LBKT  &kp RBKT  ___       ___       ___       ___       ___       ___       ___
                                  ___       &trans    &kp SPACE &kp SPACE ___       ___
            >;
        };

        nums_layer {
// ------------------------------------------------------------------------------
// | TAB |  F1 |  F2 |  F3 |  F4 | nop |   | nop |  1  |  2  |  3  | nop | BKS |
// | ESC |  F5 |  F6 |  F7 |  F8 | nop |   | nop |  4  |  5  |  6  |  0  | RET |
// | nop |  F9 | F10 | F11 | F12 | nop |   | nop |  7  |  8  |  9  | nop | nop |
//                   | nop | nop | SPC |   | SPC |     |  .  |
            display-name = "Numbers";
            bindings = <
    &kp TAB   &kp F1    &kp F2    &kp F3    &kp F4    ___       ___       &kp N1    &kp N2    &kp N3    ___       &kp BSPC
    &kp ESC   &kp F5    &kp F6    &kp F7    &kp F8    ___       ___       &kp N4    &kp N5    &kp N6    &kp N0    &kp RET
    ___       &kp F9    &kp F10   &kp F11   &kp F12   ___       ___       &kp N7    &kp N8    &kp N9    ___       ___
                                  ___       ___       &kp SPACE &kp SPACE &trans    &kp DOT
            >;
        };

        system_layer {
// ------------------------------------------------------------------------------
// | nop | nop | PRV | PLY | NXT | nop |   | nop | PDN | PDN | nop | PSC | nop |
// | nop | nop | VL- | MUT | VL+ | nop |   | LFT | DWN |  UP | RGT | nop | nop |
// | BTC | nop | BTP | nop | BTN | nop |   | nop | HOM | END | nop | nop | nop |
//                   |     | nop | nop |   | nop | nop | nop |
            display-name = "System";
            bindings = <
    ___        ___       &kp C_PREV   &kp C_PP   &kp C_NEXT   ___        ___       &kp PG_DN &kp PG_UP  ___       &kp PSCRN ___
    ___        ___       &kp C_VOL_DN &kp C_MUTE &kp C_VOL_UP ___        &kp LEFT  &kp DOWN  &kp UP     &kp RIGHT ___       ___
    &bt BT_CLR ___       &bt BT_PRV   ___        &bt BT_NXT   ___        ___       &kp HOME  &kp END    ___       ___       ___
                                     &trans      ___          ___        ___       ___       ___
            >;
        };

        unused_1 {
            status = "reserved";
        };

        unused_2 {
            status = "reserved";
        };
    };

// Key Positions
// ------------------------------------------------------------------------------
// |  0  |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  10 |  11 |
// |  12 |  13 |  14 |  15 |  16 |  17 |   |  18 |  19 |  20 |  21 |  22 |  23 |
// |  24 |  25 |  26 |  27 |  28 |  29 |   |  30 |  31 |  32 |  33 |  34 |  35 |
//                   |  36 |  37 |  38 |   |  39 |  40 |  41 |
    combos {
        compatible = "zmk,combos";

        // Layer toggle mods
        combo_tog_nums {
            timeout-ms = <50>;
            key-positions = <37 40>;
            bindings = <&tog 2>;
        };

        // Capsword
        combo_capsword {
            timeout-ms = <50>;
            key-positions = <15 16 19 20>;
            bindings = <&caps_word>;
        };

        // Shift
        combo_lshift {
            timeout-ms = <50>;
            key-positions = <15 16>;
            bindings = <&kp LSHFT>;
        };

        combo_rshift {
            timeout-ms = <50>;
            key-positions = <19 20>;
            bindings = <&kp LSHFT>;
        };

        // Ctrl
        combo_lctrl {
            timeout-ms = <50>;
            key-positions = <14 16>;
            bindings = <&kp LCTRL>;
        };

        combo_rctrl {
            timeout-ms = <50>;
            key-positions = <19 21>;
            bindings = <&kp LCTRL>;
        };

        // Alt
        combo_lalt {
            timeout-ms = <50>;
            key-positions = <13 16>;
            bindings = <&kp LALT>;
        };

        combo_ralt {
            timeout-ms = <50>;
            key-positions = <19 22>;
            bindings = <&kp LALT>;
        };

        // Meta
        combo_lmeta {
            timeout-ms = <50>;
            key-positions = <12 16>;
            bindings = <&kp LMETA>;
        };

        combo_rmeta {
            timeout-ms = <50>;
            key-positions = <19 23>;
            bindings = <&kp LMETA>;
        };

        // Ctrl + Shift
        combo_lctrlshift {
            timeout-ms = <50>;
            key-positions = <14 15>;
            bindings = <&kp LC(LSHFT)>;
        };

        combo_rctrlshift {
            timeout-ms = <50>;
            key-positions = <20 21>;
            bindings = <&kp LC(LSHFT)>;
        };

        // Alt + Shift
        combo_laltshift {
            timeout-ms = <50>;
            key-positions = <13 15>;
            bindings = <&kp LA(LSHFT)>;
        };

        combo_raltshift {
            timeout-ms = <50>;
            key-positions = <20 22>;
            bindings = <&kp LA(LSHFT)>;
        };

        // Ctrl + Alt
        combo_lctrlalt {
            timeout-ms = <50>;
            key-positions = <13 14>;
            bindings = <&kp LC(LALT)>;
        };

        combo_rctrlalt {
            timeout-ms = <50>;
            key-positions = <21 22>;
            bindings = <&kp LC(LALT)>;
        };
    };
};
